<!DOCTYPE html>
<html>
   <head>
      <script src='https://code.jquery.com/jquery-1.12.3.js'></script>
      <script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
      <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-colvis-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/fh-3.1.7/kt-2.5.2/r-2.2.5/sp-1.1.1/datatables.min.css"/>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.3.1/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-colvis-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/fh-3.1.7/kt-2.5.2/r-2.2.5/sp-1.1.1/datatables.min.js"></script>
      <script>
         $(document).ready(function(){
         $("#example").DataTable({
         	// "sPaginationType": "bootstrap",
         });
         });
      </script>
      <script>
         $.ajax({
           url: 'http://localhost:3000/',
           type: 'PATCH',
           data: {
               data: sendData
           },
           success: function () {
           }
         })
         ;
      </script>
      <title>Inventory App</title>
   </head>
   <body>
      <div class="container-fluid">
         <!-- Navbar -->
         <nav class="navbar navbar-default ">
            <div class="container-fluid">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header ">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Aquita</a>
               </div>
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                     <li><a href="http://localhost:3000/">Inventory</a></li>
                     <li><a href="http://localhost:3000/sales">Sales</a></li>
										 <li class="active"><a href="#">Purchases<span class="sr-only">(current)</span></a></li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="#">Option</a></li>
                           <li><a href="#">Another option</a></li>
                           <li><a href="#">Something else here</a></li>
                           <li role="separator" class="divider"></li>
                           <li><a href="#">Language</a></li>
                           <li role="separator" class="divider"></li>
                           <li><a href="#">Preferences</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <!-- Sales table -->
         <div class="container-fluid">
            <table class="table table-sm table-striped table-bordered"
               id="item_table" >
               <thead>
                  <tr>
                     <th>Sale ID</th>
                     <th>Time</th>
                     <th>Product Purchased (Product ID)</th>
                     <th>Quantity</th>
                     <th>Comments</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  <% for(var i = 0; i < purchases.length; i++) {%>
                  <tr data-id="<%= purchases[i]._id %>">
                     <td><%= purchases[i]._id %> </td>
                     <td><%= purchases[i].date %> </td>
                     <td><%= purchases[i].item %> (<%= purchases[i].product_id %>)</td>
                     <td><%= purchases[i].quantity %></td>
                     <td><%= purchases[i].comments %></td>
                     <td>
                        <button type="button" class="btn btn-default btn-sm"><a  href="http://localhost:3000/purchase/<%= purchases[i].product_id+"/"+purchases[i]._id+"/"+purchases[i].quantity %>" >Delete</a></button>
                     </td>
                  </tr>
                  <% } %>
               </tbody>
               <tfoot>
                  <!-- Table Footer -->
               </tfoot>
            </table>
         </div>
         <!-- Modal for add new sale -->
         <div class="modal fade" id="addpurchase-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title">New purchase</h4>
                  </div>
                  <div class="modal-body">
                     <form class="form" action="/purchase/" method="post">
                        <div class="form-group">
                           <select class="form-control" name="item" id="itmdrpdwn">
                              <option selected>select item</option>
                              <% for(var i = 0; i < items.length; i++) {%>
                              <option value="<%= items[i]._id %>, <%= items[i].name%>,<%=items[i].quantity%>" required> <%= items[i].name %> </option>
                              <% } %>
                           </select>
                        </div>
                        <div class="form-group">
                           <input type="number" class="form-control" id="add-quantity" placeholder="quantity" name="quantity" min="1" required>
                        </div>
                        <div class="form-group">
                           <textarea class="form-control" rows="5" id="comments" placeholder="comments" name="comments"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Save</button>		<button type="submit" class="btn btn-default">Continue</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script>
         $(document).ready( function () {
           	$('#item_table').DataTable({    
         		dom: 
         		    "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
           				"<'row'<'col-sm-12'tr>>" +
           				"<'row'<'col-sm-5'i><'col-sm-7'p>>",
         		"columnDefs": [
                 { "orderable": false, "targets": [0, 5] }
               ],
         		order: [[1, 'actions']],
               buttons: [
                {
         		   text: '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New purchase',						
                 action: 
         				function ( e, dt, node, config ) {
                        $("#addpurchase-modal").modal("show");
                  }
                },				
              {
                  extend: 'pdf',
                  footer: false,
                  exportOptions: {
                       columns: [1,2,3,4]
                   },
         		   customize: function (doc) {
           					doc.content[1].table.widths = 
               Array(doc.content[1].table.body[0].length + 1).join('*').split('');
         			}
              },
              {
                  extend: 'excel',
                  footer: false,
                  exportOptions: {
                       columns: [1,2,3,4]
                   },
              },
         	 {
         			extend: 'print',
                 footer: false,
                 exportOptions: {
                      columns: [1,2,3,4]
         			}
         		}
               ]	
         			
             
           } );
         
         } );
      </script>
   </body>
</html>